@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #896043c2;
  color: #FFFCEC;
  background-image: url(https://arc.net/noise-light.png);
  scroll-behavior: smooth;
}
